.badge-light-custom {
    color: #6e7687 !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-right: 1.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057;
}
